@charset "UTF-8";

/* Default style*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus,
button,
textarea:focus {
  outline: none;
}

button {
  border: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* pacifico-regular - latin */

@font-face {
  font-family: 'Bebas';
  src: url("../fonts/Bebas-Regular.eot");
  src: local("☺"), url("../fonts/Bebas-Regular.woff") format("woff"), url("../fonts/Bebas-Regular.ttf") format("truetype"), url("../fonts/Bebas-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas';
  src: url("../fonts/Bebas-Regular.eot");
  src: local("☺"), url("../fonts/Bebas-Regular.woff") format("woff"), url("../fonts/Bebas-Regular.ttf") format("truetype"), url("../fonts/Bebas-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0px 10px;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.ttf?7otv5c") format("truetype"), url("../fonts/icons.woff?7otv5c") format("woff"), url("../fonts/icons.svg?7otv5c#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-comment:before {
  content: "\e900";
}

._icon-look:before {
  content: "\e901";
  color: #9a9a9a;
}

._icon-star:before {
  content: "\e902";
  color: #9a9a9a;
}

._icon-more:before {
  content: "\e904";
}

._icon-four-lines:before {
  content: "\e903";
}

/* Mystyle */

html,
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  background-color: #fcfcfc;
  color: #414141;
}

body {
  height: 100%;
}

body.ah {
  height: 1100px;
}

a {
  color: #474747;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__container .main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 660px;
          flex: 1 1 660px;
  margin: 0px 58px 0px 0px;
}

.content__container .aside {
  max-width: 220px;
}

.aside {
  margin: 75px 0px 0px 0px;
}

.aside__section {
  margin: 0px 0px 31px 0px;
}

.aside__title {
  color: #464646;
  margin: 0px 0px 20px 0px;
}

.aside__title h4 {
  margin: 0px 0px 11.8px 0px;
}

.aside__text {
  color: #464646;
}

.aside__widget span {
  color: #bababa;
}

.aside__time {
  color: #999999;
  margin: 0px 0px 20px 0px;
}

.submit__data input::-webkit-input-placeholder, .submit textarea::-webkit-input-placeholder {
  font-family: 'Bebas';
  font-weight: 400;
}

.submit__data input::-moz-placeholder, .submit textarea::-moz-placeholder {
  font-family: 'Bebas';
  font-weight: 400;
}

.submit__data input:-ms-input-placeholder, .submit textarea:-ms-input-placeholder {
  font-family: 'Bebas';
  font-weight: 400;
}

.submit__data input::-ms-input-placeholder, .submit textarea::-ms-input-placeholder {
  font-family: 'Bebas';
  font-weight: 400;
}

h2,
h3,
h4,
.nav,
.slider__text,
.next__text,
.block4__header,
.sort__links li,
.projects__header span,
.blog__data-text p,
.submit__data input::placeholder,
.submit textarea::placeholder,
.submit__next {
  font-family: 'Bebas';
  font-weight: 400;
}

.top-line {
  background-color: #e2e2e2;
  position: relative;
  left: 0px;
  top: 0px;
  max-width: 100%;
  height: 7px;
  margin: 0px 0px 35px 0px;
}

.top-line::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-top: 19px solid #e2e2e2;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}

.header__container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 50px 0px;
}

.header__logo {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
}

.header__logo a {
  color: #474747;
}

.header__overlay {
  display: none;
}

.burger {
  display: none;
}

.nav__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  margin: 0px 60px 0px 0px;
}

.nav__list:last-child {
  margin: 0;
}

.nav__list p {
  font-size: 20px;
}

.nav__list p a {
  color: #474747;
}

.nav__list p a.opened {
  color: #b35d5d;
}

.nav__list span {
  color: #a5a5a5;
}

.page {
  margin: 0px 0px 70px 0px;
  background-color: #f3f3f3;
}

.page__paragraph {
  padding: 20px 56px 17px 20px;
}

.page__paragraph h3 {
  font-size: 16px;
  color: #474747;
  margin: 0px 0px 16px 0px;
}

.page__paragraph p {
  line-height: 14px;
}

.slider__body {
  position: relative;
  z-index: 10;
}

.slider__image {
  padding: 0px 0px 45.21277% 0px;
}

.slider__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__text {
  z-index: 3;
  background-color: #444444;
  opacity: 0.9;
  position: absolute;
  bottom: 0px;
  left: 0;
  color: #fff;
  padding: 13px 17px;
}

.slider__text span {
  font-size: 14px;
  color: #9a9a9a;
}

.slider__text p {
  font-size: 28px;
  margin: 5px 0px 0px 0px;
}

.slider__triangle {
  position: absolute;
  z-index: 20;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  border-bottom: 14px solid #f3f3f3;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}

.slide .swiper-pagination {
  text-align: right;
}

.slide .swiper-pagination-bullets {
  bottom: 12px !important;
  left: -11px !important;
}

.slide .swiper-pagination-bullet {
  margin: 0px 7px 0px 0px !important;
  width: 23px;
  height: 5px;
  border-radius: 0;
  opacity: 1;
  background-color: #ffffff;
}

.slide .swiper-pagination-bullet:last-child {
  margin: 0;
}

.slide .swiper-pagination-bullet-active {
  background-color: #444444;
}

.block {
  width: 100%;
  padding: 0px 0px 67px 0px;
}

.block__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.block__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33333%;
          flex: 0 1 33.33333%;
  margin: 0px 30px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__column:last-child {
  margin: 0;
}

.block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px 15px 0px 5px;
  margin: 0px 0px 32px 0px;
}

.block__icon {
  margin: 5px 31px -20px 0px;
}

.block__title {
  font-size: 20px;
  line-height: 24px;
  color: #464646;
}

.block__paragraph {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 0px 0px 20px 0px;
}

.block__next .next__img {
  margin: 0px 10px 0px 0px;
}

.next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.next__img {
  font-size: 74%;
  color: #464646;
}

.separator {
  background: url(../img/Headerbackground.jpg) 0 0 no-repeat;
  text-align: center;
  margin: 0px 0px 52px 0px;
}

.separator__text {
  font-size: 18px;
  color: #474747;
  display: inline-block;
  background-color: #fff;
  height: 28px;
  line-height: 155.55556%;
  padding: 0px 14px;
}

.block2 {
  margin: 0px 0px 68px 0px;
}

.block2__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0px -20px 0px 0px;
}

.block2__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0px 20px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block2__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block2__image {
  padding: 0px 0px 54.54545% 0px;
}

.block2__title {
  font-size: 14px;
  margin: 17px 0px;
  padding: 0px 3px;
}

.block2__paragraph {
  margin: 0px 0px 17px 0px;
  padding: 0px 3px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.block2__next .next__img {
  margin: 0px 10px 0px 0px;
}

.line {
  background: url(../img/topLine.jpg) 0 0 no-repeat;
  height: 5px;
  width: 100%;
}

.intro {
  padding: 25px 0px 0px 0px;
}

.intro_a {
  margin: 0px 0px 40px 0px;
}

.intro_p {
  margin: 0px 0px 22px 0px;
}

.intro_b {
  margin: 0px 0px 45px 0px;
}

.intro__title {
  font-size: 24px;
  color: #474747;
}

.intro__text {
  max-width: 520px;
  color: #9e9e9e;
  padding: 13px 0px;
  font-style: italic;
}

.block3__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px -36px 0px 0px;
}

.block3__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.91489%;
          flex: 0 1 31.91489%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 36px 0px 0px;
}

.block3__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block3__title {
  font-size: 18px;
  color: #474747;
}

.block3__text1 {
  color: #9e9d9d;
  padding: 25px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.block3__text2 {
  color: #474747;
}

.about-line {
  margin: 58px 0px 58px 0px;
}

.block4 {
  margin: 0px 0px 73px 0px;
}

.block4__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -21px 0px 0px;
}

.block4__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33333%;
          flex: 0 1 33.33333%;
  padding: 0px 21px 0px 0px;
}

.block4__content {
  padding: 17px 20px 25px 16px;
}

.block4__image {
  padding: 0px 0px 44.96644% 0px;
}

.block4__header {
  margin: 0px 0px 14px 0px;
}

.block4__header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.block4__title h3 {
  font-size: 18px;
  color: #474747;
}

.block4__number {
  line-height: 16px;
  color: #515151;
}

.block4 span {
  color: #949393;
}

.sort__links {
  margin: 0px 0px 27px 0px;
}

.sort__links li {
  font-size: 14px;
  color: #474747;
  display: inline-block;
  cursor: pointer;
}

.sort__links li::after {
  content: '|';
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #474747;
  font-size: 18px;
  padding: 0px 7px 0px 8px;
}

.sort__links li:last-child::after {
  display: none;
}

.sort__breadcumbs {
  margin: 75px 0px;
}

.clicked {
  color: #9a9a9a !important;
}

.hide {
  display: none;
}

.projects__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -17px 0px 0px;
}

.projects__row > div {
  margin: 0px 0px 12px 0px;
}

.projects__row > div:last-child {
  margin: 0;
}

.projects__project {
  padding: 0px 17px 0px 0px;
  max-width: 209px;
}

.projects__item {
  background-color: #fafafa;
}

.projects__image a {
  display: block;
  position: relative;
  height: 100%;
}

.projects__image p {
  position: absolute;
  top: 0;
  left: 0;
  height: 98.4%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
  background-color: #000;
  opacity: 0;
}

.projects__image p span {
  font-size: 29px;
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.projects__image p span._icon-look::before {
  color: #000;
}

.projects__image p:hover {
  opacity: 0.74;
}

.projects__image p:hover span {
  opacity: 0.74;
}

.projects__paragraph {
  padding: 17px 14px 20px 16px;
}

.projects__header {
  margin: 0px 0px 20px 0px;
  letter-spacing: 1px;
}

.projects__header h3 {
  font-size: 16px;
  color: #474747;
}

.projects__header span {
  color: #949393;
}

.breadcumbs span {
  display: inline-block;
  height: 5px;
  width: 23px;
  margin: 0px 7px 0px 0px;
  background-color: #9a9a9a;
}

.breadcumbs span:first-child {
  background-color: #e8e6e6;
}

.breadcumbs span:last-child {
  margin: 0;
}

.blogs__line {
  display: block;
  margin: 55px 0px;
}

.blogs__breadcumbs {
  margin: 48px 0px;
}

.blog__title {
  font-size: 15px;
  margin-bottom: 20px;
}

.blog__img {
  max-width: 652px;
  padding: 0px 0px 46.31902% 0px;
  margin-bottom: 27px;
}

.blog__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3px;
}

.blog__data-text {
  margin-bottom: 14px;
}

.blog__data-text span {
  color: #bababa;
}

.blog__text {
  max-width: 500px;
}

.blog__text-first {
  margin-bottom: 23px;
}

.contact {
  margin-bottom: 37px;
}

.contact__text1 {
  margin-bottom: 18px;
}

.submit {
  margin: 0px 0px 240px 0px;
}

.submit__data input {
  display: block;
  margin-bottom: 10px;
  border: 1px solid #EEEEEE;
  width: 33.0303%;
  padding: 0px 0px 0px 9px;
  height: 35px;
  background-color: #FAFAFA;
}

.submit__data input::-webkit-input-placeholder {
  color: #C6C6C6;
}

.submit__data input::-moz-placeholder {
  color: #C6C6C6;
}

.submit__data input:-ms-input-placeholder {
  color: #C6C6C6;
}

.submit__data input::-ms-input-placeholder {
  color: #C6C6C6;
}

.submit__data input::placeholder {
  color: #C6C6C6;
}

.submit textarea {
  width: 74.84848%;
  height: 203px;
  margin-bottom: 10px;
  border: 1px solid #EEEEEE;
  padding: 9px 0 0 13px;
  background-color: #FAFAFA;
}

.submit textarea::-webkit-input-placeholder {
  color: #C6C6C6;
}

.submit textarea::-moz-placeholder {
  color: #C6C6C6;
}

.submit textarea:-ms-input-placeholder {
  color: #C6C6C6;
}

.submit textarea::-ms-input-placeholder {
  color: #C6C6C6;
}

.submit textarea::placeholder {
  color: #C6C6C6;
}

.submit__next_img {
  margin: 0px 7px 0px 0px;
}

.footer__content {
  height: 70px;
  background-color: #f5f5f5;
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 70px;
}

.footer__text p {
  color: #9b9b9b;
}

.footer__span {
  color: #6e6e6e;
}

.footer__span_2 {
  color: #656565;
}

@media (max-width: 880px) {
  .aside {
    display: none;
  }

  .content__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .content__container .main {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 660px;
            flex: 0 1 660px;
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 767px) {
  .top-line {
    display: none;
  }

  .header {
    margin: 0px 0px 30px 0px;
  }

  .header__logo {
    padding: 20px 0px;
  }

  .header__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .menu {
    z-index: 20;
  }

  .burger {
    position: fixed;
    top: 10px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fcfcfc;
  }

  .burger__button {
    display: block;
    z-index: 30;
    position: absolute;
    width: 40px;
    height: 28px;
    cursor: pointer;
  }

  .burger__button::before,
  .burger__button::after,
  .burger__button span {
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0;
    background-color: black;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }

  .burger__button::before,
  .burger__button::after {
    content: '';
  }

  .burger__button::before {
    top: 0;
  }

  .burger__button::after {
    bottom: 0;
  }

  .burger__button span {
    top: 50%;
    -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
  }

  .nav__lists {
    position: fixed;
    z-index: 20;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    overflow: auto;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    left: -100%;
    padding: 30px 0px 0px 0px;
  }

  .nav__list {
    margin: 0;
  }

  .nav__list p {
    padding: 0px 40px;
  }

  .nav__list p a {
    text-align: center;
    font-size: 30px;
    line-height: 250%;
    letter-spacing: 5px;
    color: #fff;
    -webkit-transform: translate(0px, 50%);
        -ms-transform: translate(0px, 50%);
            transform: translate(0px, 50%);
  }

  .nav__list span {
    display: none;
  }

  body._active {
    overflow: hidden;
  }

  body._active .header__overlay {
    display: block;
    z-index: 15;
  }

  body._active .burger {
    background-color: transparent;
  }

  body._active .burger__button {
    display: inline;
  }

  body._active .burger__button span {
    display: none;
  }

  body._active .burger__button::before,
  body._active .burger__button::after {
    top: 50%;
    background-color: #b8aeae;
  }

  body._active .burger__button::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  body._active .burger__button::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  body._active .nav__lists {
    left: 0;
  }

  .slider__text {
    padding: 9.1px 11.9px;
  }

  .slider__text span {
    font-size: 9.8px;
  }

  .slider__text p {
    font-size: 19.6px;
    margin: 0;
  }

  .slider__triangle {
    display: none;
  }

  .page {
    margin: 0px 0px 49px 0px;
  }

  .page__paragraph {
    padding: 14px 39.2px 11.9px 14px;
  }

  .page__paragraph h3 {
    font-size: 11.2px;
    margin: 0 0 8px 0;
  }

  .page__paragraph p {
    font-size: 8.4px;
    line-height: 9.8px;
  }

  .block {
    padding: 0px 0px 40.2px 0px;
  }

  .block__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .block__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
    margin: 0px 15px 30px 0px;
  }

  .block__header {
    margin: 0px 0px 10px 0px;
    padding: 0;
  }

  .block__title {
    font-size: 16px;
    line-height: 0.5;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .block__icon {
    display: none;
  }

  .block__paragraph {
    margin: 0px 0px 0px 0px;
  }

  .next__img {
    margin: 0px 5px 0px 0px;
  }

  .separator {
    margin: 0px 0px 31.2px 0px;
  }

  .block2__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px -10px -50px 0px;
  }

  .block2__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 250px;
            flex: 1 1 250px;
    padding: 0px 10px 50px 0px;
  }

  .block2__title {
    margin: 10.2px 0px;
  }

  .block2__paragraph {
    margin: 0px 0px 4px 0px;
  }

  .block3__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .block3__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 297px;
            flex: 1 0 297px;
    margin: 0px 0px 25px 0px;
  }

  .block3__column:last-child {
    margin: 0;
  }

  .block3__text1 {
    padding: 10px 0px;
  }

  .about-line {
    margin: 50px 0px;
  }

  .block4 {
    margin: 0px 0px 40px 0px;
  }

  .block4__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px -10px 0px 0px;
  }

  .block4__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 250px;
            flex: 1 0 250px;
    padding: 0px 10px 0px 0px;
  }
}

@media (max-width: 680px) {
  __container {
    display: block !important;
  }

  .projects__rows {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .blog__img {
    margin: 0px 0px 10px 0px;
  }

  .blog__paragraph {
    display: block;
  }

  .blog__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .blog__data-text {
    display: inline-block;
  }

  .blog__text-first {
    margin-bottom: 15px;
  }
}

@media (max-width: 600px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__text {
    display: block;
    line-height: 1;
    text-align: center;
  }

  .footer__text p {
    margin: 0px 0px 5px 0px;
  }

  .footer__text p:last-child {
    margin: 0;
  }
}

@media (orientation: landscape) and (max-height: 350px), (max-width: 520px) {
  body._touch .nav__lists {
    padding: 20px 0px 0px 0px;
  }

  body._touch .nav__list p {
    padding: 0px 30px;
  }

  body._touch .nav__list p a {
    line-height: 200%;
    font-size: 20px;
  }

  body._touch .burger {
    width: 40px;
    height: 40px;
  }

  body._touch .burger__button {
    width: 30px;
    height: 18px;
  }
}

@media (max-width: 520px) {
  .slider__text {
    padding: 2.6px 5.1px;
  }

  .slider__text span {
    font-size: 7px;
  }

  .slider__text p {
    font-size: 14px;
    margin: -5px 0px 0px 0px;
    line-height: 100%;
  }

  .page__paragraph {
    padding: 10px 28px 8.5px 10px;
  }

  .page__paragraph h3 {
    font-size: 8px;
    margin: 0;
  }

  .page__paragraph p {
    font-size: 6px;
    line-height: 7px;
  }
}

.webp .separator{ background: url(../img/Headerbackground.webp) 0 0 no-repeat; }

.webp .line{ background: url(../img/topLine.webp) 0 0 no-repeat; }